*{text-decoration: none;
border: none;

margin: none;
padding: none;}


/*Navigation Bar design*/
body {margin:0;font-family: monospace}


.Nav_container{
  display: flex;
  background-color: rgba(8, 8, 8, 0.0);
  border: none;
  flex-direction: row;
  max-height: 100%;
  max-width: 100%;

}
.topnav {
  width: 85%;
  height: 20%;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: right; 
}



.h1_container{
  display: flex;
  justify-content: left;
  text-align: center;
  width: 50%;
  height: 20%;
  margin-left: 5%;
  margin-top: 0.7%;
  
}
.topnav a {
  padding: 3%;
  color: #000000;
  text-align: center;
  
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #575757;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  overflow: hidden;
  padding: 3%;
}

.dropdown .dropbtn {
  color: #000000;
  text-align: center;
  
  text-decoration: none;
  font-size: 17px;
}

.dropdown-content {
	margin: none;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}

/*Hero design*/
body, html {
  height: 100%;
  margin: 0;

}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hero.jpg);
  max-width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero-image img {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/*Footer Designs 👣*/
footer{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #000000;
  max-width: 100%;
  max-height: 100%;
  padding: 5%;
  font-size: 20px;
  text-align: center;
 
}
footer p {
  margin: auto;
}



/*Mobile responsive zone design 🥴*/

/*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 600px) {
  
.h1_container{
  display: flex;
  justify-content: left;
  text-align: center;
  width: 50%;
  height: 20%;
  margin-left: 5%;
  margin-top: 0.7%;
  font-size: 10px;
  
}

  .Nav_container{
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
  }


  .topnav.responsive{display: block;}
  .topnav a, .dropdown .dropbtn {
    display: none;

  }
  .topnav a.icon {
    justify-content: center;
    display: flex;
  }
  .topnav{
    justify-content: center;
    display: block;
    width: 100%;
    height: 50%;
  }
  .h1_container{
    padding: auto;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: flex;
    text-align: left;
    justify-content: center;
  }
  .topnav.responsive .dropdown {justify-content: center;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    text-align: left;
    margin: none;
  }
  .dropdown{
    justify-content: center;
  }
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }